@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;600;700&display=swap');

//
// VARIABLES
//

$type-color: #000000;

html, body {
    margin: 0;
    font-size: 10px;
}

//
// TYPE
//

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: $type-color;
    margin-top: 30px !important;
    line-height: 2.8rem;
}

span {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: $type-color;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    border-bottom: 1px dotted;
    text-decoration: none; 
    opacity: .5;
    color: $type-color;
    transition: .2s;
    &:hover {
        opacity: 1;
    }
}

::selection {
    background: none; /* WebKit/Blink Browsers */
    color: #f62506;
}

::-moz-selection {
    background: none; /* Gecko Browsers */
    color: #f62506;
}

//
// BACKGROUND COLORS
//

.bg-tan {
    background-color: #EADAD0;
}

.bg-green {
    background-color: #C9DCC4;
}


// 
// GENERAL
// 

.center-margin {
    max-width: 800px;
    width: calc(100vw - 40px);
    margin: auto;
}

.center-container {
    width: 100vw;
}

.hero {
    margin-top: 50px;
}


.first {
    margin-top: 60px !important;
}

//
// NAV
//

.nav-container {
    position: sticky;
    top: 0px;
    padding-top: 40px;
    z-index: 100;
}

nav {
    .bar {
        width: 100%;
        height: 1px;
        background-color: $type-color;
        opacity: .5;
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        .left a {
            font-family: 'Courier Prime', monospace;
            font-weight: 400;
            font-size: 1.6rem;
            margin-top: 2px;
        }
        .right {
            display: flex;
            flex-direction: row;
            span {
                margin-block-start: 0em;
                margin-block-end: 0em;
                margin-right: 20px;
                font-size: 1.5rem;
                &:hover {
                    cursor: pointer;
                }
                transition: .2s;
            }
            .copy {
                opacity: .5;
            }
        }
        a {
            border-bottom: none;
            opacity: 1;
            font-size: 1.5rem;
            &:hover {
                opacity: .5;
            }
        }
    }
}


//
// Website Component
//

.website {
    width: 790px;
    height: 300px;
    border: 1px solid $type-color;
    border-radius: 150px;
    opacity: 1;
    display: flex;
    margin: auto;
    margin-top: 80px;
    position: relative;

    @media only screen and (max-width: 800px) {
        width: calc(100vw - 40px);
        height: 200px;
        border-radius: 100px;
    }
    .year {
        margin: auto;
    }
    .title, .stack {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        font-family: 'Courier Prime', monospace;
        font-weight: 400;
        font-style: italic;
        padding: 0px 15px;
        text-align: center;
    }
    .stack {
        top: 100%;
    }
    .year {
        font-size: 2.5rem;
        font-style: italic;
        transition: .2s;
    }
    transition: width .5s;
    &:hover {
        @media only screen and (min-width: 800px) {
            width: 850px;
        }
        @media only screen and (min-width: 1000px) {
            width: 950px;
        }
        .year {
            opacity: .5;
        }
    }
}

//
// FOOTER
//

footer {
    margin-top: 100px !important;
    padding-bottom: 180px;
    .bar {
        width: 100%;
        height: 1px;
        background-color: $type-color;
        opacity: .5;
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        @media only screen and (max-width: 800px) {
            margin-top: 30px;
        }
        .right {
            a {
                margin-left: 40px;
            }
        }
    }
    .quote {
        margin-top: 20px;
        display: flex;
        opacity: .5;
        max-width: 420px;
        @media only screen and (max-width: 800px) {
            margin-top: 30px;
        }
        &:hover {
            opacity: 1;
        }
    }
    a {
        font-size: 1.5rem;
        border: none;
        opacity: 1;
        &:hover {
            opacity: .5;
        }
    }
}